<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>EG-Blog管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="EG-Blog管理系统" />
<meta name="description" content="EG-Blog管理系统" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />
<script type='text/javascript' src='__PUBLIC__/style/ismobile.js'></script>
</head>

<body>
<!--引入头部-->
{include file="common/header"}
<!--顶部通栏-->
<div class="position"></div>

<div class="overall">

	<div class="left">
		{volist name="articleres" id="vo"}
				<div class="xnews2">
				<div class="pic"><a target="_blank" href=""><img src="{if condition="$vo['pic'] neq ''"}__IMG__{$vo.pic}{else /}__PUBLIC__/images/error.png{/if}" alt=""/></a></div>
				<div class="dec">
				<h3><a target="_blank" href="{:url('article/index', array('arid'=>$vo['id']))}">{$vo.title}</a></h3>
				<div class="time">发布时间:{$vo['time']|date="Y-m-d",###}</div>
				<p>{$vo.desc}</p>
					<div class="time">
						<?php
                        $arr = explode(',', $vo['keywords']);
                        foreach ($arr as $k=>$v) {
						echo "<a href='/index.php/index/search/index?keywords=$v'>$v</a>";
						}
						?>
					</div>
				</div>
				</div>
		{/volist}
				
				<div class="pages">
				<div class="plist" >
					{$articleres->render()}
				</div>
				</div>
	</div>



	<!--引入右侧-->
	{include file='common/right'}
</div>

<!--引入尾部-->
{include file='common/foot'}
</body>
</html>